# Flutter & Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages

# Build output
/build/
**/doc/api/

# iOS specific files
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/

# Android specific files
android/.gradle/
android/app/build/
android/local.properties
android/app/debug
android/app/profile
android/app/release
android/app/upload-keystore.jks

# IDE and Editor files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Miscellaneous
.DS_Store
*.log
*.class
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.env

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
