<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCntl57_f-a8_aDikeDw35361MUcRh82SY</string>
	<key>GCM_SENDER_ID</key>
	<string>115343450218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.terraTrace</string>
	<key>PROJECT_ID</key>
	<string>terratrace-737d4</string>
	<key>STORAGE_BUCKET</key>
	<string>terratrace-737d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115343450218:ios:073267623cf7db9cc5aa13</string>
</dict>
</plist>